<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DonSergios_Connection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DON_SERGIOS;Data Source=DELTA007" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>